<div class="flex flex-col">
    <nav class="flex">
        <button class="tab-btn w-full" [class.active-tab]="selectedTab === 'tab1'" (click)="selectTab('tab1')">Bills</button>
        <button class="tab-btn w-full" [class.active-tab]="selectedTab === 'tab2'" (click)="selectTab('tab2')">Service Providers offers</button>
    </nav>
    <div class="flex-1 p-4 border-t">
        <ng-container *ngIf="selectedTab === 'tab1'">
            <user-table 
                [infoList]="infoList" 
                [tableUnit]="tableUnit" 
                [tableType]="tableType"
                [pendingPayments]="pendingPayments" 
                [unitPrice]="unitPrice" 
                [unitPrice]="unitPrice" 
            />
        </ng-container>
        <ng-container *ngIf="selectedTab === 'tab2'">
            <section class="flex flex-col gap-6 w-3/4 mx-auto">
                <app-sp-table [serviceProviderName]="spNames[0]" [offerList]="offersList[0]" [isUser]="isUser"/>
                <app-sp-table [serviceProviderName]="spNames[1]" [offerList]="offersList[1]" [isUser]="isUser"/>
                <app-sp-table [serviceProviderName]="spNames[2]" [offerList]="offersList[2]" [isUser]="isUser"/>
            </section>
        </ng-container>
    </div>
</div>