<div class="flex justify-center">
    <div class="w-3/4 p-8  border rounded-md shadow-lg">
        <h1 class="text-2xl font-bold mb-4 text-center">Add Bill</h1>
        <form [formGroup]="addBillForm" (ngSubmit)="onSubmit()">

            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="email">Email</label>
                <input formControlName="email"
                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="email" name="email" type="text" placeholder="Enter the customer's email">
                <div class="text-red-500 text-xs mt-1"
                    *ngIf="email!['invalid'] && (email!['dirty'] || email!['touched'])">
                    <div *ngIf="email!['errors']!['required']">{{errs.Email.Required}}</div>
                    <div *ngIf="email!['errors']!['minlength']">{{errs.Email.MinLength}}</div>
                    <div *ngIf="email!['errors']!['email']">{{errs.Email.Pattern}}</div>
                </div>
            </div>

            <section class="flex gap-16">
                <div class="flex gap-4">
                    <div class="mb-4">
                        <label class="block text-gray-700 font-bold mb-2" for="year">Year</label>
                        <select class="w-full sm:w-auto bg-white border rounded-lg px-2 py-2" id="year"
                            formControlName="year">
                            <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
                        </select>
                        <div class="text-red-500 text-xs mt-1"
                            *ngIf="year!['invalid'] && (year!['dirty'] || year!['touched'])">
                            <div *ngIf="year!['errors']!['required']">
                                {{errs.Year.Required}}
                            </div>
                            <div *ngIf="year!['errors']!['pattern']">{{errs.Year.Pattern}}</div>

                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 font-bold mb-2" for="month">Month</label>
                        <select class="w-full sm:w-auto bg-white border rounded-lg px-2 py-2" id="month"
                            formControlName="month">
                            <option *ngFor="let month of months" value="{{month}}">{{month}}</option>
                        </select>
                        <div class="text-red-500 text-xs mt-1"
                            *ngIf="month!['invalid'] && (month!['dirty'] || month!['touched'])">
                            <div *ngIf="month!['errors']!['required']">
                                {{errs.Month.Required}}
                            </div>
                            <div *ngIf="month!['errors']!['pattern']">{{errs.Month.Pattern}}</div>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="category">Category</label>
                    <select class="w-full sm:w-auto bg-white border rounded-lg px-2 py-2" id="category"
                        formControlName="category">
                        <option *ngFor="let category of billsCategories" value="{{category}}">{{category}}</option>
                    </select>
                    <div class="text-red-500 text-xs mt-1"
                        *ngIf="category!['invalid'] && (category!['dirty'] || category!['touched'])">
                        <div *ngIf="category!['errors']!['required']">
                            {{errs.Category.Required}}
                        </div>
                    </div>
                </div>
            </section>






            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="penalty">Penalty</label>
                <input formControlName="penalty"
                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="penalty" name="penalty" type="text" placeholder="Enter the penalty">
                <div class="text-red-500 text-xs mt-1"
                    *ngIf="penalty!['invalid'] && (penalty!['dirty'] || penalty!['touched'])">
                    <div *ngIf="penalty!['errors']!['required']">
                        {{errs.Penalty.Required}}</div>
                    <div *ngIf="penalty!['errors']!['pattern']">
                        {{errs.Penalty.Pattern}}</div>
                </div>
            </div>



            <div *ngIf="this.category?.value !== 'Telephone'; else telephone" class="mb-6">
                <label class="block text-gray-700 font-bold mb-2" for="units">Units</label>
                <input formControlName="units"
                    class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="units" name="units" type="text" placeholder="Enter the units">
                <div class="text-red-500 text-xs mt-1"
                    *ngIf="units!['invalid'] && (units!['dirty'] || units!['touched'])">
                    <div *ngIf="units!['errors']!['required']">{{errs.Units.Required}}</div>
                    <div *ngIf="units!['errors']!['pattern']">{{errs.Units.Pattern}}</div>
                </div>
            </div>

            <ng-template #telephone>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="price">Price</label>
                    <input formControlName="price" [class.disabled]="true" readonly
                        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="price" name="price" type="text" [value]="this.selectedOffer?.priceOrPricePerUnit">
                </div>
                <div *ngIf="this.selectedOffer?.status === 'Post Paid'">
                    <label class=" block text-gray-700 font-bold mb-2" for="unitsUsage">Units Usage</label>
                    <input formControlName="unitsUsage"
                        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="unitsUsage" name="unitsUsage" type="text" placeholder="Enter the units usage">
                    <div class="text-red-500 text-xs mt-1"
                        *ngIf="unitsUsage!['invalid'] && (unitsUsage!['dirty'] || unitsUsage!['touched'])">
                        <div *ngIf="unitsUsage!['errors']!['required']">{{errs.UnitsUsage.Required}}</div>
                        <div *ngIf="unitsUsage!['errors']!['pattern']">{{errs.UnitsUsage.Pattern}}</div>
                    </div>

                </div>




                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="offerStatus">Status</label>
                    <input readonly [class.disabled]="true"
                        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="offerStatus" name="offerStatus" type="text" [value]="this.selectedOffer?.status">
                </div>

                <div class="mb-6">
                    <label class="block text-gray-700 font-bold mb-2" for="servProv_offerName">Service Provider / Offer
                        Name</label>
                    <select class="w-full sm:w-auto bg-white border rounded-lg px-2 py-2" id="servProv_offerName"
                        formControlName="servProv_offerName">
                        <option *ngFor=" let off of serviceProv_offers" value="{{ off.svProvName + ' / ' + off.name}}">
                            {{off.svProvName + ' / ' + off.name}}</option>
                    </select>
                    <div class="text-red-500 text-xs mt-1"
                        *ngIf="servProv_offerName!['invalid'] && (servProv_offerName!['dirty'] || servProv_offerName!['touched'])">
                        <div *ngIf="servProv_offerName!['errors']!['required']">
                            {{errs.ServProv_offerName.Required}}
                        </div>
                    </div>
                </div>
            </ng-template>



            <div class="w-full flex items-center justify-center mt-6">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                    Add Bill
                </button>
            </div>


        </form>
    </div>
</div>