<main class="px-8">
    <h1 class="text-center font-bold text-2xl mb-6 "> Water</h1>
    <section class="flex w-full items-start gap-10">
        <div class="w-3/4">
            <user-table [infoList]="infoList" [tableUnit]="tableUnit" />
        </div>
        <div class="flex flex-col justify-center w-1/4 gap-8 ">

            <div class="w-full text-center p-10 py-8 rounded-lg bg-gray-100">
                <p class="mb-6">
                    <b class="text-red-500">Note:</b> Due to current rates, prices are set to
                    change
                </p>
    
                <div class="flex justify-center">
                    <div class="text-center border rounded-lg py-1 px-2 w-fit">
                        <p>1 Meter Cube = 0.02 EGP</p>
                    </div>
                </div>
            </div>

            <div class="w-full text-center p-10 py-8 rounded-lg bg-gray-100">
                <p>
                    <b class="text-red-500">Warning:</b>
                    Late bills are automatically penalized with a fixed value of 200 EGP for
                    each late month after the 30th day of the month.
                </p>
            </div>
        </div>
    </section>

</main>