<button class="bg-blue-500 py-1 px-4 text-white rounded-lg" (click)="toggleModal()">
  Pay
</button>

<section *ngIf="showModal">
  <div class="fixed z-50 inset-0 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 transition-opacity" aria-hidden="true" (click)="closeModal()">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>

      <div
        class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all mt-24">
        <!-- Add your content here -->
        <div class="flex flex-col w-[440px] border-semi rounded-lg shadow-lg">
          <nav class="flex">
            <button class="tab-btn w-full font-bold" [class.active-tab]="selectedTab === 'tab1'"
              (click)="selectTab('tab1')">CASH</button>
            <button class="tab-btn w-full font-bold" [class.active-tab]="selectedTab === 'tab2'"
              (click)="selectTab('tab2')">CREDIT</button>
          </nav>
          <div class=" flex flex-col p-4 border-t justify-center items-center ">

            <ng-container *ngIf="selectedTab === 'tab1'">
              <div class="w-full px-4 flex gap-4">
                <div class="w-full text-center rounded-lg border-semi bg-gray-200 py-1"><span><b>Amount: </b>
                    {{amountToPay}}</span></div>
                <div class="w-full text-center rounded-lg border-semi bg-gray-200 py-1"><span><b>Wallet: </b>
                    {{wallet}}</span></div>
              </div>
              <div class="text-center px-8 py-6">
                <p class="mb-3 text-xl font-semibold">Payment Code</p>
                <p class="text-blue-500 bg-gray-700 px-6 py-1">{{this.randomPaymentCode}}</p>

                <div class="w-full px-4 flex gap-4 items-center">
                  <button class="bg-blue-500 w-32 mt-4 py-2 px-6 text-white rounded-lg" (click)="onSubmit('Cash')">
                    Use Code
                  </button>
                  <div class="mt-2">OR</div>
                  <button class="bg-blue-500 w-32 mt-4 py-2 px-6 text-white rounded-lg" (click)="onSubmit('Wallet')">
                    Use Wallet
                  </button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="selectedTab === 'tab2'">
              <div class="w-full px-4 flex gap-4">
                <div class="w-full text-center rounded-lg border-semi bg-gray-200 py-1"><span><b>Amount: </b>
                    1892.56</span></div>
                <div class="w-full text-center rounded-lg border-semi bg-gray-200 py-1"><span><b>Wallet: </b>
                    2500</span></div>
              </div>

              <form [formGroup]="payWithCardForm" (ngSubmit)="onSubmit('Card')" class="px-8 py-6 w-96">


                <div class="mb-3">
                  <label class="block text-gray-700 font-bold mb-1" for="cardNumber">
                    Credit Card Number
                  </label>
                  <input formControlName="cardNumber"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="cardNumber" name="cardNumber" type="text" placeholder="Enter your credit card number">

                  <div class="text-red-500 text-xs mt-1"
                    *ngIf="cardNumber!['invalid'] && (cardNumber!['dirty'] || cardNumber!['touched'])">
                    <div *ngIf="cardNumber!['errors']!['required']">{{errs.CardNumber.Required}}</div>
                    <div *ngIf="cardNumber!['errors']!['minlength']">{{errs.CardNumber.MinLength}}</div>
                    <div *ngIf="cardNumber!['errors']!['maxlength']">{{errs.CardNumber.MaxLength}}</div>
                    <div *ngIf="cardNumber!['errors']!['pattern']">{{errs.CardNumber.Pattern}}</div>
                  </div>
                </div>


                <div class="mb-3">
                  <label class="block text-gray-700 font-bold mb-1" for="cvv">
                    CVV
                  </label>
                  <input formControlName="cvv"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="cvv" name="cvv" type="text" placeholder="Enter your CVV">
                  <div class="text-red-500 text-xs mt-1" *ngIf="cvv!['invalid'] && (cvv!['dirty'] || cvv!['touched'])">
                    <div *ngIf="cvv!['errors']!['required']">{{errs.CVV.Required}}</div>
                    <div *ngIf="cvv!['errors']!['minlength']">{{errs.CVV.MinLength}}</div>
                    <div *ngIf="cvv!['errors']!['maxlength']">{{errs.CVV.MaxLength}}</div>
                    <div *ngIf="cvv!['errors']!['pattern']">{{errs.CVV.Pattern}}</div>
                  </div>
                </div>


                <div class="mb-4 flex flex-row">
                  <div class="w-1/2 mr-2">
                    <label class="block text-gray-700 font-bold mb-1" for="expMonth">
                      Expiry Month
                    </label>
                    <select class="w-full sm:w-auto bg-white border rounded-lg px-2 py-2" id="expMonth"
                      formControlName="expMonth">
                      <option *ngFor="let expMonth of months" value="{{expMonth}}">{{expMonth}}</option>
                    </select>

                    <div class="text-red-500 text-xs mt-1"
                      *ngIf="expMonth!['invalid'] && (expMonth!['dirty'] || expMonth!['touched'])">
                      <div *ngIf="expMonth!['errors']!['required']">{{errs.ExpMonth.Required}}</div>
                      <div *ngIf="expMonth!['errors']!['pattern']">{{errs.ExpMonth.Pattern}}</div>
                    </div>
                  </div>


                  <div class="mb-4 flex flex-row">
                    <div class="w-1/2 mr-2">
                      <label class="block text-gray-700 font-bold mb-1" for="expYear">
                        Expiry Year
                      </label>
                      <select class="w-full sm:w-auto bg-white border rounded-lg px-2 py-2" id="expYear"
                        formControlName="expYear">
                        <option *ngFor="let expYear of years" value="{{expYear}}">{{expYear}}</option>
                      </select>
                      <div class="text-red-500 text-xs mt-1"
                        *ngIf="expYear!['invalid'] && (expYear!['dirty'] || expYear!['touched'])">
                        <div *ngIf="expYear!['errors']!['required']">{{errs.ExpYear.Required}}</div>
                        <div *ngIf="expYear!['errors']!['pattern']">{{errs.ExpYear.Pattern}}</div>
                      </div>
                    </div>
                  </div>
                </div>




                <button class="bg-blue-500 w-full mt-4 py-2 px-6 text-white rounded-lg" type="submit">
                  >
                  Place Payment
                </button>
              </form>
            </ng-container>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>