<main class="w-full m-auto">
    <section class="w-full text-sm mx-auto">
        <div class="bg-gray-100 rounded-lg shadow-lg">
            <div class="px-6 py-4">
                <h2 class="text-2xl font-bold mb-8 text-center">
                    {{!serviceProviderName || serviceProviderName =="-"? 'Offers' : serviceProviderName}}
                </h2>
                <div class="flex flex-wrap justify-between items-center mb-4">
                    <div>
                        <span>Search: </span>
                        <input type="text" class="w-full sm:w-auto bg-white border rounded-lg px-2 py-1 mb-2 sm:mb-0"
                            [(ngModel)]="searchText" (keyup)="filterOffers()" placeholder="Search...">
                    </div>
                    <div>
                        <span>Filter: </span>
                        <select class="w-full sm:w-auto bg-white border rounded-lg px-2 py-1"
                            [(ngModel)]="selectedOption" [value]="selectedOption" (change)="filterOffers()">
                            <option selected disabled>Choose an option</option>
                            <option value="none">None</option>
                            <option value="post">Post Paid</option>
                            <option value="pre">Pre Paid</option>
                        </select>
                    </div>
                </div>
                <div class="bg-white p-2 rounded-lg mt-8 max-h-96 overflow-y-auto">
                    <table class="w-full bg-white">
                        <thead>
                            <tr>
                                <th class="text-left py-2">SP Offer</th>
                                <th class="text-left py-2">Internet</th>
                                <th class="text-left py-2">Minutes</th>
                                <th class="text-left py-2">Price</th>
                                <th class="text-left py-2">Status</th>
                                <th *ngIf="!isUser" class="text-left py-2">Delete</th>
                            </tr>
                        <tbody>
                            <tr *ngFor="let offer of filteredOfferList; let i = index">
                                <td class="border-t px-4 py-2">{{offer.name}} </td>
                                <td class="border-t px-4 py-2">{{offer.internetQuantityOrPrice}} {{tableInternetUnit}}
                                </td>
                                <td class="border-t px-4 py-2">{{offer.minutesQuantityOrPrice}} {{tableMinutesUnit}}
                                </td>
                                <td class="border-t px-4 py-2">{{offer.price}}</td>
                                <td class="border-t px-4 py-2">{{offer.status}}</td>
                                <td *ngIf="!isUser" class="border-t py-2">
                                    <button class="bg-red-600 rounded-lg text-white px-2 py-1"
                                        (click)="deleteOffer(i)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>