<nav class="bg-gray-800 fixed top-0 left-0 right-0">
    <div class="container mx-auto px-4">
        <div class="flex items-center justify-between h-16">
            <div class="flex-shrink-0">
                <a class="text-white"><button (click)="goToHome()">
                        <img src="assets/logo.png" alt="Logo" width="60" height="60" class="d-inline-block align-top">
                    </button> </a>
            </div>
            <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">

                    <ng-container *ngIf="isLoggedIn">
                        <div class="ml-10 flex items-baseline space-x-4"
                            *ngIf="accountService.currentUserType==accountService.GetUsersEnum().User">
                            <a class="text-gray-300 hover:text-white" routerLink="/edit-profile-info">Profile</a>
                            <a class="text-gray-300 hover:text-white" routerLink="/electricity">Electricity</a>
                            <a class="text-gray-300 hover:text-white" routerLink="/water">Water</a>
                            <a class="text-gray-300 hover:text-white" routerLink="/telephone">Telephone</a>
                            <a class="text-gray-300 hover:text-white"><button (click)="logout()">Logout</button></a>
                        </div>

                        <div class="ml-10 flex items-baseline space-x-4"
                            *ngIf="accountService.currentUserType==accountService.GetUsersEnum().Admin">
                            <a class="text-gray-300 hover:text-white" routerLink="/edit-profile-info">Profile</a>
                            <a class="text-gray-300 hover:text-white" routerLink="/admin-all-users">All Users</a>
                            <a class="text-gray-300 hover:text-white" routerLink="/admin-water">Water</a>
                            <a class="text-gray-300 hover:text-white" routerLink="/admin-electricity">Electricity</a>
                            <a class="text-gray-300 hover:text-white" routerLink="/admin-telephone">Telephone</a>
                            <a class="text-gray-300 hover:text-white"><button (click)="logout()">Logout</button></a>
                        </div>

                        <div class="ml-10 flex items-baseline space-x-4"
                            *ngIf="accountService.currentUserType==accountService.GetUsersEnum().ServiceProvider">
                            <a class="text-gray-300 hover:text-white" routerLink="/edit-profile-info">Profile</a>
                            <a class="text-gray-300 hover:text-white"><button (click)="logout()">Logout</button></a>
                        </div>
                    </ng-container>

                    <a class="text-gray-300 hover:text-white" routerLink="/about-us">About Us</a>

                </div>
            </div>
        </div>
    </div>
</nav>