<main class="w-3/4 m-auto">
    <section class="w-full text-sm mx-auto">
        <div class="bg-gray-100 rounded-lg shadow-lg">
            <div class="px-6 py-4">
                <h2 class="text-2xl font-bold mb-8 text-center">
                    <span *ngIf="tableType === getTableType().Electricity; else waterOrTelephone">All Electricity
                        Statuses</span>
                    <ng-template #waterOrTelephone>
                        <span *ngIf="tableType === getTableType().Water">All Water Statuses</span>
                        <span *ngIf="tableType === getTableType().Telephone">All Telephone Statuses</span>
                    </ng-template>

                </h2>
                <div class="flex flex-wrap justify-between items-center mb-4">
                    <div>
                        <span>Search: </span>
                        <input type="text" class="w-full sm:w-auto bg-white border rounded-lg px-2 py-1 mb-2 sm:mb-0"
                            [(ngModel)]="searchText" (keyup)="filterUsers()" placeholder="Search...">
                    </div>
                    <div>
                        <span>Filter: </span>
                        <select class="w-full sm:w-auto bg-white border rounded-lg px-2 py-1"
                            [(ngModel)]="selectedOption" [value]="selectedOption" (change)="filterUsers()">
                            <option selected disabled>Choose an option</option>
                            <option value="none">None</option>
                            <option value="paid">Paid</option>
                            <option value="unpaid">Unpaid</option>
                            <option value="penalty">Penalty</option>
                            <option value="notPenalty">No Penalty</option>
                        </select>
                    </div>
                </div>
                <div class="bg-white p-2 rounded-lg mt-8 max-h-96 overflow-y-auto">
                    <table class="w-full bg-white">
                        <thead>
                            <tr>
                                <th class="text-left py-2">ID</th>
                                <th class="text-left py-2">Name</th>
                                <th class="text-left py-2">Year/Month</th>

                                <th *ngIf="tableType === getTableType().Telephone" class="text-left py-2">SP Offer</th>
                                <th *ngIf="tableType === getTableType().Telephone" class="text-left py-2">Units</th>

                                <th *ngIf="tableType === getTableType().Electricity || tableType === getTableType().Water"
                                    class="text-left py-2">Units</th>

                                <th class="text-left py-2">Penalty</th>
                                <th class="text-left py-2">Total</th>
                                <th class="text-left py-2">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of filteredUserList">
                                <td class="border-t px-4 py-2">{{user.id}}</td>
                                <td class="border-t px-4 py-2">{{user.name}}</td>
                                <td class="border-t px-4 py-2">{{user.year}}/{{user.month}}</td>

                                <td *ngIf="tableType === getTableType().Telephone" class="border-t px-4 py-2">
                                    {{user.spOfferName}}</td>
                                <td *ngIf="tableType === getTableType().Telephone" class="border-t px-4 py-2">
                                    {{user.units}}
                                    Min & MB</td>

                                <td *ngIf="tableType === getTableType().Electricity || tableType === getTableType().Water"
                                    class="border-t px-4 py-2">
                                    {{user.units}}
                                    {{tableUnit}}</td>

                                <td class="border-t px-4 py-2">{{user.penalty}}</td>
                                <td class="border-t px-4 py-2">{{user.total}}</td>
                                <td class="border-t py-2">
                                    <p class="pl-3 text-red-500" *ngIf="user.isPaid==false">
                                        Not Paid
                                    </p>
                                    <p class="pl-3 text-green-500" *ngIf="user.isPaid==true">
                                        Paid
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>
</main>