<app-nav-bar />

<app-child/>
<div class="shadow-md border border-black border-2 m-4 rounded-md p-4">{{messageToShow}}</div>

<section class="m-4">
  <h1 class="text-3xl font-bold mb-4">User List</h1>
  <ul class="border shadow-md rounded-lg mb-4" *ngFor="let user of userList">
    <li class="p-2">
      <span class="font-bold">ID: </span> {{user.id}}
    </li>
    <li class="p-2">
      <span class="font-bold">Name: </span> {{user.name}}
    </li>
  </ul>
</section>

<div class="flex items-center justify-center h-screen">
  <div class="w-full max-w-md">
    <h1 class="text-3xl font-bold mb-8 text-center">Login</h1>
    <form #loginForm="ngForm">
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="username">ID</label>
        <input
          class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="username" name="username" type="text" placeholder="Enter your ID" required minlength="8"
          pattern="^(?=.*[a-z])(?=.*[A-Z]).{8,}$" [(ngModel)]="username">
        <div class="text-red-500 text-xs mt-1" *ngIf="loginForm.submitted && loginForm.controls['username'].errors!['
          required']">ID is required.</div>
        <div class="text-red-500 text-xs mt-1"
          *ngIf="loginForm.submitted && loginForm.controls['username'].errors!['minlength']">
          ID must be at least 8 characters long.</div>
        <div class=" text-red-500 text-xs mt-1"
          *ngIf="loginForm.submitted && loginForm.controls['username'].errors!['pattern']">
          ID must contain at least one uppercase and one lowercase letter.</div>
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 font-bold mb-2" for="password">Password</label>
        <input
          class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="password" name="password" type="password" placeholder="Enter your password" required minlength="8"
          pattern="^(?=.*[a-z])(?=.*[A-Z]).{8,}$" [(ngModel)]="password">
        <div class="text-red-500 text-xs mt-1"
          *ngIf="loginForm.submitted && loginForm.controls['password'].errors!['required']">Password is required.</div>
        <div class="text-red-500 text-xs mt-1"
          *ngIf="loginForm.submitted && loginForm.controls['password'].errors!['minlength']">Password must be at least 8
          characters long.</div>
        <div class="text-red-500 text-xs mt-1"
          *ngIf="loginForm.submitted && loginForm.controls['password'].errors!['pattern']">Password must contain at
          least
          one uppercase and one lowercase letter.</div>
      </div>
      <div class="flex items-center justify-between">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit">Sign In</button>
      </div>
    </form>
  </div>
</div>

<app-service-card />