<nav class="bg-gray-800">
    <div class="container mx-auto px-4">
        <div class="flex items-center justify-between h-16">
            <div class="flex-shrink-0">
                <a class="text-white" href="#">Logo</a>
            </div>
            <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">
                    <ng-container *ngIf="isLoggedIn">
                        <div >
                            <a class="text-gray-300 hover:text-white" routerLink="/home">Home</a>
                        </div>
                        <a class="text-gray-300 hover:text-white" routerLink="/login">Login</a>
                        <a class="text-gray-300 hover:text-white" routerLink="/">Electricity</a>
                        <a class="text-gray-300 hover:text-white" routerLink="/water">Water</a>
                        <a class="text-gray-300 hover:text-white" routerLink="#">Telephones</a>
                        <a class="text-gray-300 hover:text-white" routerLink="/about-us">About Us</a>
                    </ng-container>                    
                    <!-- <a class="text-gray-300 hover:text-white" routerLink="#">About Us</a> -->

                </div>
            </div>
        </div>
    </div>
</nav>