<h1 class="text-center font-bold"> Water</h1>
<br>
<div class="flex justify-center">
    <div class="max-w-screen-md mx-auto">
        <div class="flex justify-between">
            <div
                class="w-1/2 sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 text-center p-20 border border-solid border-gray-300 bg-gray-100">
                <p>
                    <b class="text-red-500">Note:</b> Due to current rates, prices are set to
                    change
                </p>

                <div class="text-center border border-solid border-black-300">
                    <p>1 Meter Cube = 0.02 EGP</p>
                </div>
            </div>
            <div
                class="w-1/2 sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 text-center p-20 border border-solid border-gray-300 bg-gray-100">
                <p>
                    <b class="text-red-500">Warning:</b>
                    Late bills are automatically penalized with a fixed value of 200 EGP for
                    each late month after the 30th day of the month.
                </p>
            </div>
        </div>
    </div>
</div>