<!-- <flowbite-button (click)="this.modal.open()">Open modal</flowbite-button>
<flowbite-modal #modal [dismissable]="true" [size]="'md'" [isOpen]="false"> 
    <flowbite-modal-header>Terms of Service</flowbite-modal-header>
    <flowbite-modal-body>
        <p class="mb-2 text-gray-500 dark:text-gray-400">
            With less than a month to go before the European Union enacts new consumer privacy laws for its citizens, companies around the world are updating their terms of service agreements to comply.
        </p>
        <p class="text-gray-500 dark:text-gray-400">
            The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant to ensure a common set of data rights in the European Union. It requires organizations to notify users as soon as possible of high-risk data breaches that could personally affect them.
        </p>
    </flowbite-modal-body>
    <flowbite-modal-footer>
        <flowbite-button (click)="modal.close()">I accept</flowbite-button>
        <flowbite-button (click)="modal.close()" [color]="'gray'">I decline</flowbite-button>   
    </flowbite-modal-footer>
</flowbite-modal> -->

<!-- <div class="flex flex-col w-fit border-semi rounded-lg shadow-lg">
  <nav class="flex">
    <button class="tab-btn w-full font-bold" [class.active-tab]="selectedTab === 'tab1'"
      (click)="selectTab('tab1')">CASH</button>
    <button class="tab-btn w-full font-bold" [class.active-tab]="selectedTab === 'tab2'"
      (click)="selectTab('tab2')">CREDIT</button>
  </nav>
  <div class=" flex flex-col p-4 border-t justify-center items-center ">
    <ng-container *ngIf="selectedTab === 'tab1'">

      <div class="text-center px-8 py-6">
        <p class="mb-3 text-xl font-semibold">Payment Code</p>
        <p class="text-blue-500 bg-gray-700 px-6 py-2">12993-kaoos-8292iiw</p>
        <button class="bg-blue-500 mt-4 py-2 px-6 text-white rounded-lg">
          Done
        </button>
      </div>

    </ng-container>
    <ng-container *ngIf="selectedTab === 'tab2'">

      <form class="px-8 py-6 w-96">
        <div class="mb-3">
          <label class="block text-gray-700 font-bold mb-1" for="credit-card-number">
            Credit Card Number
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="credit-card-number" type="text" placeholder="Enter your credit card number">
        </div>
        <div class="mb-3">
          <label class="block text-gray-700 font-bold mb-1" for="cvv">
            CVV
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="cvv" type="text" placeholder="Enter your CVV">
        </div>
        <div class="mb-4 flex flex-row">
          <div class="w-1/2 mr-2">
            <label class="block text-gray-700 font-bold mb-1" for="expiry-month">
              Expiry Month
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="expiry-month" type="text" placeholder="MM">
          </div>
          <div class="w-1/2 ml-2">
            <label class="block text-gray-700 font-bold mb-1" for="expiry-year">
              Expiry Year
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="expiry-year" type="text" placeholder="YYYY">
          </div>
        </div>
        <div class="mb-3">
          <label class="block text-gray-700 font-bold mb-1" for="amount">
            Amount
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="amount" type="text" placeholder="Enter the amount">
        </div>
        <button class="bg-blue-500 w-full mt-4 py-2 px-6 text-white rounded-lg">
          Place Payment
        </button>
      </form>



    </ng-container>
  </div>
</div> -->