.mat-tab-label-active {
    border-bottom: 2px solid blue;
  }
  .center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container to 100% of the viewport height */
  }
  .blue-text {
    color: blue;
  }
  button {
    background-color: blue;
    border-radius: 20%;
    color: white;
    padding: 5px;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
  }