<section class=" p-8 ">
    <div class="bg-gray-100 rounded-lg shadow-lg">
        <div class="px-6 py-4">
            <h2 class="text-2xl font-bold mb-8 text-center">All Users</h2>
            <div class="flex flex-wrap justify-between items-center mb-4">
                <div>
                    <span>Search: </span>
                    <input type="text"
                        class="w-full sm:w-auto bg-gray-200 border rounded-lg px-4 py-2 mb-2 sm:mb-0"
                        [(ngModel)]="searchText"  (keyup)="filterUsers()" placeholder="Search...">
                </div>
                <div>
                    <span>Filter: </span>
                    <select class="w-full sm:w-auto bg-gray-200 border rounded-lg px-2 py-2" 
                            [(ngModel)]="selectedOption" [value]="selectedOption" (change)="filterUsers()">
                        <option selected disabled>Choose an option</option>
                        <option value="unpaidElectricity">Unpaid Electricity</option>
                        <option value="unpaidWater">Unpaid Water</option>
                        <option value="unpaidTelephone">Unpaid Telephone</option>
                    </select>
                </div>
            </div>
            <div class="bg-white p-2 rounded-lg mt-8">
                <table class="w-full bg-white">
                    <thead>
                        <tr>
                            <th class="text-left py-2">ID</th>
                            <th class="text-left py-2">Name</th>
                            <th class="text-left py-2">Unpaid Electricity</th>
                            <th class="text-left py-2">Unpaid water</th>
                            <th class="text-left py-2">Unpaid Telephone</th>
                            <th class="text-left py-2">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of filteredUserList">
                            <td class="border-t px-4 py-2">{{user.id}}</td>
                            <td class="border-t px-4 py-2">{{user.name}}</td>
                            <td class="border-t px-4 py-2">{{user.unpaidElectricity}}</td>
                            <td class="border-t px-4 py-2">{{user.unpaidWater}}</td>
                            <td class="border-t px-4 py-2">{{user.unpaidTelephone}}</td>
                            <td class="border-t px-4 py-2">{{user.total}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>